<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  


  <div class="container-fluid">
    <div class="row" style="border: 1px solid black;">
        <div class="col-3" style="border: 1px solid black;">
          <h1>E- Grantha</h1>
          

        </div>
        <div class="col-6" style="border: 1px solid black;">
            <Ul><h1>Welcome Readers</h1></Ul>

            <a href="{{ url_for("login") }}">
              <button type="button" class="btn btn-outline-primary">Login</button>
              
            </a>
            <p> for the existing Readers</p>
          <p></p>
            <a href="{{ url_for("register") }}"><button type="button" class="btn btn-outline-primary">Register</button></a>
            <p>for new Readers</p>
            <p></p>
          <a href="{{ url_for("admin_login") }}"><button type="button" class="btn btn-outline-primary">Librarian</button></a>
          <p>Restriced only to the Librarian</p>
        </div>
        <div class="col-3" style="border: 1px solid black;">
          <img src="../static/Logo.jpg" alt="log" width="250" height="250">

        </div>
    </div>
  </div>
<h5>Terms and Conditions</h5>
<p> The readers are requested to go through the terms and conditions of the Library. In case of any clarificiation, please feel free to reach us </p>
<div>
  {% if list %}
  <h5> Top Three books </h5>
  <div class="row g-0 text-center">
    <div class="col-sm-6 col-md-8">
    <table class="table">
    <tr>
      
      <th scope="col">Book Title</th>
      <th scope="col">Author First Name</th>
      <th scope="col">Rating</th>
      <th scope="col"></th>
      <th scope="col"></th>
     
  </tr>
  {% for record in list %}
  <tr>
    
    <td>{{ record.title }}</td>
    <td>{{ record.authorfname }}</td>
    <td>{{ record.rating }}</td>
    <td></td>
    <td></td>
    
  </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>No record is found</p> 
  {% endif %}
  
    </div>


    <div class="col-6 col-md-4"><h2>About Us</h2>
      <p align="left">E-Grantha is an endeavor by like-minded professional who envisaged to provide the Library facilities
        to all people across the Country. It is making efforts to make this Library as a repository of best
        books that cater to the need of students, professional, academician, scholars, job seekers, home
        makers and children. These services are provided at nominal cost.</p>
      </div>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

 
</body>

</html>